.contact {

  &__descr {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;

    &-title {
      @include font(36px, 43px, 600);
    }

    &-text {
      @include font(14px, 140%, normal);
      width: 430px;
    }
  }

  &__form {
    height: 500px;
    display: flex;
    align-items: center;

    input::placeholder, select {
      @include font(16px, 19px, normal);
      color: rgba(19, 39, 67, 0.5);
    }

    &-input {
      width: 100%;
      padding: 20px 0 20px 30px;
      border: 1px solid #333333;
      border-radius: 6px;
      outline: none;
    }

    &-tel {
      margin: 25px 0;
    }

    &-text {
      width: 47%;
    }

    &-text2 {
      margin-left: 5%;
    }

    &-btn {
      @include font(14px, 17px, normal);
      text-transform: uppercase;
      color: #FFFFFF;
      padding: 17px 34px;
      background-color: $primered;
      border: 1.5px solid $primered;
      border-radius: 6px;
      cursor: pointer;
      transition: .5s;
      margin-top: 25px;

      &:hover {
        background-color: #FFFFFF;
        color: $primered;
      }
    }

  }
}